%h1 Listing clients
%table
  %tr
    %th Name
    %th Url
    %th Phone number
    %th Latitude
    %th Longitude
    %th Media
  - @clients.each do |client|
  %tr
    %td= h client.name
    %td= h client.url
    %td= h client.phone_number
    %td= h client.latitude
    %td= h client.longitude
    %td= h client.media
    %td= link_to 'Show', client
    %td= link_to 'Edit', edit_client_path(client)
    %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New client', new_client_path
