!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Clients: #{controller.action_name}
    = stylesheet_link_tag 'application'
    %script{:type => 'text/javascript', :src => "http://maps.google.com/maps/api/js?sensor=false&language=#{I18n.locale}"}
    = javascript_include_tag "application"
    = yield :javascript
  %body{:onload => gmaps_initialize}
    #upbarDiv.upbar
      %b RadarVirtuel.com
      \- Cloudless Real-Time Aircraft Traffic
      %span.right_menu
        - unless logged_in?
          %span
            = link_to "Add a client information", new_client_path
          %span
            = link_to "Login", login_path
        - else
          %span.logout
            = link_to "Logout", logout_path
    #main
      %p{:style => "color: green"}= notice
      = yield
